.section1 {
  background: url("../images/1.jpg") top center;
  background-size: cover; }

.section2 {
  background: url("../images/2.jpg") top center;
  background-size: cover; }

.section3 {
  background: url("../images/3.jpg") top center;
  background-size: cover; }

.section4 {
  background: url("../images/4.jpg") top center;
  background-size: cover; }

.section5 {
  background: url("../images/5.jpg") top center;
  background-size: cover; }

.section6 {
  background: url("../images/6.jpg") top center;
  background-size: cover; }

.section7 {
  background: url("../images/7.jpg") top center;
  background-size: cover; }

.section8 {
  background: url("../images/8.jpg") top center;
  background-size: cover; }

.section9 {
  background: url("../images/9.jpg") top center;
  background-size: cover; }

.section10 {
  background: url("../images/10.jpg") top center;
  background-size: cover; }

.section11 {
  background: url("../images/11.jpg") top center;
  background-size: cover; }

.section12 {
  background: url("../images/12.jpg") top center;
  background-size: cover; }

.section13 {
  background: url("../images/13.jpg") top center;
  background-size: cover; }

.section14 {
  background: url("../images/14.jpg") top center;
  background-size: cover; }

.section15 {
  background: url("../images/15.jpg") top center;
  background-size: cover; }

.section16 {
  background: url("../images/16.jpg") top center;
  background-size: cover; }

.section17 {
  background: url("../images/17.jpg") top center;
  background-size: cover; }
